/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 10rem;
}

/*
body {
  min-height: 300vh;
}
*/
img {
  aspect-ratio: 1;
  object-fit: cover;
  max-width: 30rem;
}
aside {
  display: none;
  background: black;
  position: fixed;
  inset: 0;
}

aside > div {
  background: white;
  max-width: 75ch;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

aside.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: black;
}

h1 {
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c35717;
  font-size: 3em;
}

h2 {
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #96c6e2;
  font-size: 1.75rem;
}

button {
  color: white;
  background-color: #c35717;
  border-radius: 2rem;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2.5rem;
}

/* Dropdown Button */
.dropbtnplus {
  background-color: #c35717;
  color: white;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnplus:hover,
.dropbtnplus:focus {
  background-color: #c35717;
}

/* The container <div> - needed to position the dropdown content */
.dropdownplus {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-plus {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-plus a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-plus p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid white;
}

/*MULTIPLY DROPDOWN*/

.dropbtnmultiply {
  background-color: #60c965;
  color: white;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnmultiply:hover,
.dropbtnmultiply:focus {
  background-color: #60c965;
}

/* The container <div> - needed to position the dropdown content */
.dropdownmultiply {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-multiply {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-multiply a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-multiply p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid white;
}

/* DIVIDE DROPDOWN */

.dropbtndivide {
  background-color: #5ac4e6;
  color: white;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtndivide:hover,
.dropbtndivide:focus {
  background-color: #5ac4e6;
}

/* The container <div> - needed to position the dropdown content */
.dropdowndivide {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-divide {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-divide a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-divide p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid white;
}

/* EQUALS DROPDOWN */

.dropbtnequals {
  background-color: #ca0f11;
  color: white;
  padding-left: 15rem;
  padding-right: 15rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnequals:hover,
.dropbtnequals:focus {
  background-color: #ca0f11;
}

/* The container <div> - needed to position the dropdown content */
.dropdownequals {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-equals {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-equals a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-equals p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid white;
}
* {
  box-sizing: border-box;
}

/* Slideshow container 
.slideshow-container-plus {
  max-width: 30rem;
  position: relative;
  margin: auto;
}

/* Hide the images by default 
.mySlidesPlus {
  display: none;
}

/* Next & previous buttons 
.prevplus,
.nextplus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right 
.nextplus {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through 
.prevplus:hover,
.nextplus:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



/* The dots/bullets/indicators 
.dotplus {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeplus,
.dotplus:hover {
  background-color: #717171;
}

/* Fading animation 
.fadeplus {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
*/
body {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.accordiancontainer {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  font-family: FontAwesome;
  content: "\f150";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f151";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: black;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.articleplus {
  background-color: #cd8355;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articlemultiply {
  background-color: #86e0a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articledivide {
  background-color: #b6def5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articleequals {
  background-color: #e87d7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

 {
  box-sizing: border-box;
}
.mySlides1,
.mySlides2 .mySlides3,
.mySlides4 {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}
