/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top, bottom: 1rem;
  max-width: 10rem;
}

img {
  aspect-ratio: 1;
  max-width: 30rem;

}

body {
  background-color: black;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
.title {
font-family: mic-32-new-rounded-web, sans-serif;
font-weight: 400;
font-style: normal;
color: #c35717;
}

h2 {
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #96c6e2;
}
@media (min-width: 40em) {
h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.9rem;
  padding-left: 2rem; padding-right: 2rem;
}

.accordion {
  font-size: 2.25rem;
}
li a {
  font-size: 2rem;
}

.pluscontainer, .multiplycontainer, .dividecontainer, .equalscontainer {
  display: flex;
  flex-direction: row;
}
.articleplus, .articlemultiply, .articledivide, .articleequals {
  margin-right: 3rem; 
  margin-top: 2rem; margin-bottom: 2rem;
}
}

.js-scroll {
  width: 30rem;
  height: 7rem;
  background-color: #c35717;
  transition: background-color 2000ms;
  margin-bottom: 2rem;
  padding-left: 2rem;, padding-right: 2rem;
  border-radius: 1.5rem;
  color: black;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}
 
.js-scroll.scrolled {
  background-color: white;
}

.PLUS {
  font-size: 2rem;
}


@media (max-width: 40em) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
  font-size:1.5rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
  article {
    max-width: 20rem;
  }
 .accordion {
  font-size: 1.25rem;
 }
 li a{
font-size: 1rem;
 }

 .articleplus, .articlemultiply, .articledivide, .articleequals {
  margin-bottom: 3rem; margin-top: 3rem;
}
.js-scroll {
  width: 15rem;
  height: 10rem;
  background-color: #c35717;
  transition: background-color 2000ms;
  margin-bottom: 2rem;
  padding-left: 2rem;, padding-right: 2rem;
  border-radius: 1.5rem;
  color: black;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}
 

.js-scroll.scrolled {
  background-color: white;
}

.PLUS {
  font-size: 2rem;
}


}

.accordion {
  color: #c35717;
  border-radius: 2rem;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p {
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Dropdown Button */
.dropbtnplus {
  background-color: #c35717;
  color: white;
  padding-left: 8rem; padding-right: 8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnplus:hover,
.dropbtnplus:focus {
  background-color: #c35717;
}

/* The container <div> - needed to position the dropdown content */
.dropdownplus {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-plus {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10rem;
  border: .2rem solid white;\  
  padding: 2rem;
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content-plus a {
  color: black;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content-plus p {
  min-width: 150px;
}

/* Change color of dropdown links on hover */
.dropdown-content-plus p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;

  border-top: 1.25rem solid white;
}

/*MULTIPLY DROPDOWN*/

.dropbtnmultiply {
  background-color: #60c965;
  color: white;
  padding-left: 8rem; padding-right: 8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnmultiply:hover,
.dropbtnmultiply:focus {
  background-color: #60c965;
}

/* The container <div> - needed to position the dropdown content */
.dropdownmultiply {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-multiply {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: .2rem solid white;
  padding: 1rem;
}

/* Links inside the dropdown */
.dropdown-content-multiply a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-multiply p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;

  border-top: 1.25rem solid white;
}

/* DIVIDE DROPDOWN */

.dropbtndivide {
  background-color: #5ac4e6;
  color: white;
  padding-left: 8rem; padding-right: 8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtndivide:hover,
.dropbtndivide:focus {
  background-color: #5ac4e6;
}

/* The container <div> - needed to position the dropdown content */
.dropdowndivide {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-divide {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: .2rem solid white;
  padding: 1rem;
}

/* Links inside the dropdown */
.dropdown-content-divide a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-divide p:hover {
  background-color: black;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;

  border-top: 1.25rem solid white;
}

/* EQUALS DROPDOWN */

.dropbtnequals {
  background-color: #ca0f11;
  color: white;
  padding-left: 8rem; padding-right: 8rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtnequals:hover,
.dropbtnequals:focus {
  background-color: #ca0f11;
}

/* The container <div> - needed to position the dropdown content */
.dropdownequals {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-equals {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 10rem;
  box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: .2rem solid white;
  padding: 1rem;
}

/* content inside the dropdown */
.dropdown-content-equals a{
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}


}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.25rem solid transparent;
  border-right: 1.25rem solid transparent;

  border-top: 1.25rem solid white;
}
* {
  box-sizing: border-box;
}

.nextplus {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}


.accordiancontainer {
  width: 80%;
  max-width: 37.5rem;
  margin: 3.125rem auto;
}

button {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 0.9375rem 1.25rem;
  font-size: 1.125rem;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border-radius: 1rem;
}

button.accordion:after {
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  float: right;
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: black;
  border-left: 0.0625rem solid white;
  border-right: 0.0625rem solid white;
  padding: 0 1.25rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

article {
  padding-left: 5rem; padding-right: 5rem; padding-top:5rem; padding-bottom: 5rem;
}

.articleplus {
  background-color: #cd8355;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articlemultiply {
  background-color: #86e0a2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articledivide {
  background-color: #b6def5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

.articleequals {
  background-color: #e87d7f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
}

 {
  box-sizing: border-box;
}
.mySlides1,
.mySlides2 .mySlides3,
.mySlides4 {
  display: none;
}
img {
  vertical-align: middle;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 20rem;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -1.375rem;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 0.1875rem 0.1875rem 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.1875rem 0 0 0.1875rem;
}

/* On hover, add color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

ul a {
  color: white;
}


.pen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 50vh;
}
.text {
  color: whitesmoke;
  font-family: mic-32-new-rounded-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1em 2em;
  text-align: center;
  font-size: 3.5em;
}

.txt-rotate {
  color: #c35717;
}